*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.About-container{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: linear-gradient(to bottom right, #eee,#4539f8); */
    background-image: linear-gradient(to bottom right, #eee,#847de7)
}
.Heading{
    margin: 1em;
    font-size: 2rem;
    font-weight: 500;
}
.Inner-About-container{
    width: 90%;
    height: 70vh;
    background-color: transparent;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
    border-radius: 5em;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.about_heading{
    font-size: 2rem;
    font-weight: 900;
}
.About{
    font-size: 1.2rem;
    margin: 2em 2em;
}
.skil-box4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(-45deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
    box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25),
     -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    height: 50vh;
    width: 100vh;
    background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
}
